.headline {
  height: 56px;
  top: 271px;
  font-family: 'Montserrat', sans-serif;;
  font-style: normal;
  font-weight: 650;
  font-size: 36px;
  line-height: 56px;
  align-items: center;
  letter-spacing: 0.374px;
  color: #525358;
}

.checkboxLabel {
  width: 366px;
  height: 24px;
  margin-left: -3.5rem;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 41px;
  letter-spacing: 0.374px;
  color: #BAC1C8;
}

.terms {
  margin-left: 0.35rem;
}

.form {
  :global {
    #checkbox1 {
      margin-left: -6rem;
    }

    #formBasicEmail, #formBasicPassword {
      box-sizing: border-box;
      left: 0%;
      right: 0%;
      top: 36.36%;
      bottom: 0%;
      margin-top: -1rem;

      height: 50px;
      width: 450px;

      border-radius: 8px;

      border: 1px solid #E4EAF0;
      border-radius: 8px;
    }

    #formBasicEmail:hover {
      box-shadow: 0px 4px 10px rgba(77, 77, 77, 0.13);
    }

    #formBasicPassword:hover {
      box-shadow: 0px 4px 10px rgba(77, 77, 77, 0.13);
    }

    .emailLabel, .passwordLabel {
      left: 0;
      right: 59.56%;
      top: 0;
      bottom: 72.73%;

      font-family: 'Montserrat', sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 56px;
      display: flex;
      align-items: center;
      letter-spacing: 0.37px;
      color: #525358;
    }

    #submit:enabled {
      margin-top: 3rem;

      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      width: 450px;
      height: 56px;
      background: #5CA5FA;
      border-radius: 8px;

      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 600;
      font-size: 18px;
      line-height: 56px;
      /* or 311% */

      display: flex;
      align-items: center;
      text-align: center;
      letter-spacing: 0.374px;

      /* card */
      color: #F7F9FB;
    }

    #submit:disabled {
      margin-top: 3rem;

      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      width: 450px;
      height: 56px;
      background: #5CA5FA;
      border-radius: 8px;
      opacity: 0.5;

      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 600;
      font-size: 18px;
      line-height: 56px;
      /* or 311% */

      display: flex;
      align-items: center;
      text-align: center;
      letter-spacing: 0.374px;

      /* card */
      color: #F7F9FB;
    }
  }
}
