@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,80");
@import 'bootstrap/dist/css/bootstrap.min.css';

.App {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
}

#nav {
  background: #F7F9FB;
}

.languagePicker {
  box-sizing: border-box;
  margin-left: 61rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px;
  gap: 3px;
  width: 84px;
  height: 48px;
  background: #FFFFFF;
  border: 1px solid #5CA5FA;
  border-radius: 8px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.notFoundLabel {
  margin-left: 1rem;
}

.header {
  background-color: #FFFFFF;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.logo {
  width: 140px;
  height: 140px;
}

#users, #card {
  margin-left: 1rem;
}
