.graph {
  width: 100%;
  height: 200px;

  margin-top: 1.5rem;

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  /* identical to box height, or 100% */

  text-align: right;
  letter-spacing: -0.078px;

  /* Text */
}

.user_info {
  :global {
    #back_to_users_buttons {
      margin-top: 1rem;
      display: flex;
      flex-direction: row;
      justify-content: right;
      align-items: center;
      padding: 0px 10px;
      gap: 8px;

      width: 240px;
      height: 32px;
      left: 24px;
      top: 77px;

      background: #F7F9FB;
      border-radius: 4px;
      background-image: url(/assets/left_arrow_icon.svg);
      background-repeat: no-repeat;
      background-position: 1rem;
      outline: none;

      text-decoration: none;
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 600;
      font-size: 14px;
      line-height: 56px;

      align-items: center;
      letter-spacing: 0.374px;

      /* accent */

      color: #5CA5FA;
    }

    #update_text {
      height: 28px;

      margin-top: 1rem;
      margin-left: 2rem;
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 400;
      font-size: 13px;
      line-height: 28px;
      /* identical to box height, or 215% */

      display: flex;
      align-items: center;
      letter-spacing: 0.374px;

      /* Text */

      color: #525358;
    }

    // #row_2 {
    //   margin-top: 1rem;
    // }

    #name_of_user {
      width: 188px;
      height: 56px;

      margin-left: -4rem;
      display: inline;

      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 700;
      font-size: 32px;
      line-height: 56px;
      letter-spacing: 0.374px;

      color: #525358;
    }

    #temp_of_user {
      margin-left: 1rem;

      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 700;
      font-size: 48px;
      line-height: 56px;
      letter-spacing: 0.374px;
      display: inline;

      color: #5CA5FA;
    }

    #status_user_active_icon,  {
      margin-top: 1.1rem;
    }

    #tools_icon {
      margin-top: 0.5rem;
      margin-left: 0.8rem;
    }

    .showEditButton {
      background-image: url(/assets/edit_icon.svg);
      background-repeat: no-repeat;
    }
  }
}

.dowbload_and_calendar_container {
  :global {
    margin-top: 2rem;

    #download_dropdown_button {
      box-sizing: border-box;

      margin-left: 16rem;

      width: 162px;
      height: 48px;

      background: #FFFFFF;
      background-image: url(/assets/download_icon_blue.svg);
      background-repeat: no-repeat;
      background-position: 1rem;
      outline: none;

      border: 1px solid #5CA5FA;
      border-radius: 8px;

      color: #5CA5FA;

      align-items: center;
      justify-content: center;

      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
    }
  }
}

.table_users {
  :global {
    margin-top: 2rem;
    border-radius: 8px;

    thead {
      background: #F7F9FB;
    }

    tr {
      height: 32px;
      left: 93px;
      right: 862px;
      top: 20px;

      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 600;
      font-size: 18px;
      line-height: 41px;

      text-align: left;

      letter-spacing: 0.374px;
    }

    td {
      height: 24px;
      left: 61px;
      right: 817px;
      top: 4px;

      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;

      text-align: left;
      letter-spacing: 0.374px;
    }

    #example1_temp_blue {
      color: #5CA5FA;
    }

    #example1_temp_red {
      height: 24px;
      left: 400px;
      right: 750px;
      top: 212px;

      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 800;
      font-size: 16px;
      line-height: 41px;
      /* or 256% */

      display: flex;
      align-items: center;
      letter-spacing: 0.374px;

      /* exit */

      color: #E38888;
    }
  }
}
