.notFoundHeadline {
  margin-top: 3rem;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
  letter-spacing: 0.374px;
  color: #BAC1C8;
}

.error {
  width: 453px;
  height: 88px;
  margin-top: -1rem;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.37px;
  color: #BAC1C8;
}

.back {
  button {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;

    width: 166px;
    height: 48px;

    background: #5CA5FA;
    border: 1px solid #5CA5FA;
    border-radius: 8px;

    background-image: url(/assets/left_arrow_icon_2.svg);
    background-repeat: no-repeat;
    background-position: 1.5rem;
    outline: none;

    align-items: center;
    justify-content: center;

    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    line-height: 40px;
    font-weight: 600;
    letter-spacing: 0.374px;
    font-size: 14px;

    display: flex;
    align-items: center;
    color: #F7F9FB;
  }
}
