.users_table_container {
  :global {
    margin-top: -6rem;

    #logo_2 {
      margin-top: -3.5rem;
      margin-left: -0.5rem;
    }

    #table_users {
      border: 1px solid #E4EAF0;
      border-radius: 50;
    }

    #search_input {
      background: #FFFFFF;

      margin-top: -2.8rem;

      border: 1px solid #E4EAF0;
      /* background-image: url(loupe_icon.svg); */
      background-repeat: no-repeat;
      background-position: 1.5rem;
      outline: none;

      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      height: 48px;

      align-items: center;
      justify-content: center;
    }

    #search_input:hover {
      box-shadow: 0px 4px 10px rgba(77, 77, 77, 0.13);
    }

    #delete_user_button:disabled {
      box-sizing: border-box;

      margin-left: 2rem;
      margin-top: -5rem;

      width: 48px;
      height: 48px;

      background: #FFFFFF;

      background-image: url(/assets/delete_icon.svg);
      background-repeat: no-repeat;
      background-position: center;
      outline: none;

      align-items: center;
      justify-content: center;

      border: 1px solid #E4EAF0;
      border-radius: 8px;
    }

    #delete_user_button:enabled {
      box-sizing: border-box;

      margin-left: 2rem;
      margin-top: -5rem;

      width: 48px;
      height: 48px;

      background: #FFFFFF;

      background-image: url(/assets/delete_icon_blue.svg);
      background-repeat: no-repeat;
      background-position: center;
      outline: none;

      align-items: center;
      justify-content: center;

      border: 1px solid #5CA5FA;
      border-radius: 8px;
    }

    #download_dropdown_button:disabled {
      box-sizing: border-box;

      margin-top: -5rem;
      margin-left: 4.5rem;

      width: 162px;
      height: 48px;

      background: #FFFFFF;
      background-image: url(/assets/download_icon.svg);
      background-repeat: no-repeat;
      background-position: 1rem;
      outline: none;

      border: 1px solid #cad0d5;
      border-radius: 8px;

      color: #a7adb4;

      align-items: center;
      justify-content: center;

      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
    }

    #download_dropdown_button:enabled {
      box-sizing: border-box;

      margin-top: -5rem;
      margin-left: 4.5rem;

      width: 162px;
      height: 48px;

      background: #FFFFFF;
      background-image: url(/assets/download_icon_blue.svg);
      background-repeat: no-repeat;
      background-position: 1rem;
      outline: none;

      border: 1px solid #5CA5FA;
      border-radius: 8px;

      color: #5CA5FA;

      align-items: center;
      justify-content: center;

      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
    }

    .Modal {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 11.6189px 0px 12px;

      position: absolute;
      width: 366px;
      height: 291px;
      left: 537px;
      top: 367px;

      /* White */

      background: #FFFFFF;
      box-shadow: 0px 11.6189px 124.28px rgba(18, 45, 108, 0.17);
      border-radius: 16px;
    }

    #modal_del:hover {
      box-shadow: 0px 4px 10px rgba(77, 77, 77, 0.13);
    }
  }
}

.table_users {
  :global {
    border: 1px solid #E4EAF0;
    border-radius: 50;

    thead {
      background: #F7F9FB;
    }

    tr {
      height: 32px;
      left: 93px;
      right: 862px;
      top: 20px;

      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 600;
      font-size: 18px;
      line-height: 41px;

      text-align: left;

      letter-spacing: 0.374px;
    }

    td {
      height: 24px;
      left: 61px;
      right: 817px;
      top: 4px;

      vertical-align: middle;

      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;

      text-align: left;
      letter-spacing: 0.374px;
    }

    #example1_temp_blue {
      color: #5CA5FA;
    }

    #example1_temp_red {
      color: #E38888;
    }

    #battery_status_bar {
      height: 13px;
      width: 23px;

      align-items: top;
      justify-content: left;

      border: 2px solid #5CA5FA;
      border-radius: 2px;
    }
  }
}

#confirm_button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 6px 16px;
  gap: 10px;

  width: 318px;
  height: 42px;

  /* accent */

  background: #5CA5FA;
  border-radius: 8px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}
